build/*
!build/.gitkeep

data/facesets/*
!data/facesets/.gitkeep

data/trained_models/*
!data/trained_models/.gitkeep

data/credentials/*
!data/credentials/.gitkeep

data/ciphers/*
!data/ciphers/.gitkeep

.idea
/cmake-build-debug/
.qtc_clangd
.vscode


https://cryptopp.com/wiki/Advanced_Encryption_Standard