build/*
!build/.gitkeep

facesets/*
!facesets/.gitkeep

data/trained_models/*
!data/trained_models/.gitkeep

.idea
/cmake-build-debug/
.qtc_clangd
.vscode


https://cryptopp.com/wiki/Advanced_Encryption_Standard